{% extends 'index.html' %}
{% block title %}Lista de Placas {% endblock %}
{% block contenido %}

    <script>
        function fcategoria(){
            var placa= $("#splaca").val();
            if(placa!=0)
            {
                var cate=$("#scategoria").val();
                if(cate!=0)
                {
                    $.ajax({
                        type:'POST',
                        url:"/armar/",
                        data: $("#farmar").serialize(),
                        success: crearFormulario,
                        error:errores
                    });
                }
            }
            else
            {
                alert("Selecciona la placa")
            }
        }
        function crearFormulario(data){
            $("#formulario").html(data);
             //alert("llego");
        }
        function errores(){
            alert("error en el servidor");
        }
    </script>
    
    <h2> Arma tu Pc </h2>
    
     {% if placa %}
        <form action="/crear/catalogo/" method="post" id="farmar">
        {% csrf_token %}
        <label>Placa :</label>
        <table>
        <tr>
        <td>
        
            <select id="splaca" name="splaca" onchange="fcategoria()">
                <option value="0" id="0">Selecciona</option>
                {% for i in placa %}
                <option value="{{ i.id }}" id="{{ i.id }}">{{i.nombre}}</option>
                    
                {% endfor %}
            </select>
        </td>
        <td></td>
        <td></td>
        <td>

            <select id="scategoria" name="scategoria" onchange="fcategoria()" >
                <option value="0" id="0">Selecciona</option>
                {% for i in cate %}
                    <option value="{{ i.id }}" id="{{ i.id }}">{{i.nombre}}</option>
                {% endfor %}
            </select>
        </td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td></td>
        <td>
            <div id="formulario">
            </div>
        </td>
    </tr><br><br><br><br><br>
        <tr>
        <td>
        <input type="submit" value="Crear Catalogo">
        </form>
        </td>
       
        
    
    </tr>
    
    {% else %}
        <h2>Lista de placas vacia</h2>
    {% endif %}
    
</table>
{% endblock %}
