{% extends "index.html" %}
{% block title %}Lista de Placas {% endblock %}
{% block contenido %}
	<center><h2>Lista de PLacas: </h2></center> 
	<div id="carrito_content">
        <h4>Placas  en carrito:</h4>
        <div id="carrito">

        </div>
        <a href="/confirmar/compra/">Confirmar Compra</a>
    </div>    			
	{% if placa %}
		<table class="table table-hover" id="tabla_placa">
		<thead>
			<tr>
				<th>Placa</th>
				<th>Marca</th>
				<th>Precio</th>
				<th>Imagen</th>

			</tr>
		</thead>
		{% for p in placa %}
			<body>
				
					<td>{{p.nombre}}</td>
					<td>{{p.marca}}</td>
					<td>$ {{p.precio}}</td>
					<td><img src='{{MEDIA_URL}}{{p.imagen}}' width="150px" heigth="150px"></td>
					<td><a class="btn" href="/placas/{{p.id}}/"><li class="icon-search"></li>Ver</a></td>
					<td><a class="btn" href="/cliente/cargar/carrito/{{ p.id }}/"> Comprar</a></td>					
				</tr>
			</body>	
		{% endfor %}
		</table>
	{% else %}
		<h2>Lista de placas vacia</h2>
	{% endif %}
	<br>
	{%if placa %}
		<div class="pagination">
			<ul>
			<li><a href="/base/page/1/"> << </a></li>
			 <!-- paginapreviaprevia-->
			{% if placa.has_previous %}
				<li><a href="/base/page/{{placa.previous_page_number}}/">Prev</a></li>
			{% else %}
				<li><a href="#">Prev </a></li>
			{% endif %}
			<!--pagima sigiente-->
			{% if placa.has_next %}
				<li><a href="/base/page/{{placa.next_page_number}}/">Next</a></li>
			{% else %}
				<li><a href="#">Next </a></li>
			{% endif %}
			<li><a href="/base/page/{{placa.paginator.num_pages}}"> >> </a></li>
			</ul>
		</div>
		<br>
		<h4> Pagina {{placa.number}} de {{placa.paginator.num_pages}}</h4>
	{% endif %}	
{% endblock %}
