{% extends 'base3.html' %}
{% block cuerpo %}
<center><span style="color: white;">
	<h1>Subir Componente</h1>
		<form  method="POST" action='' enctype='multipart/form-data' >
			{% csrf_token %}
			{{formulario.as_p}}
			
			<button type="submit" class="btn btn-small btn-primary">enviar</button>
			<button type="reset" class="btn btn-small btn-primary">borrar</button>
		</form>	<br>
		{{informacion}}
		<br>
</body>	
<a href="/componente/page/1/" class="btn btn-primary">Regresar a lista de Componentes</a>
	
{% endblock %}

